body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
}

.container {
    background-color: #fff;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px;
    min-height: 60vh;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin-bottom: 20px;
}

#sortButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

#sortButton:hover {
    background-color: #0056b3;
}

#weatherGrid {
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
}

.weatherCard {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weatherCard h2 {
    margin: 0 0 10px;
    font-size: 20px;
}

.weatherCard p {
    margin: 5px 0;
    font-size: 16px;
}

.error {
    color: red;
    font-weight: bold;
}

/* Spinner Styles */
.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #007bff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
    display: none; /* Hidden by default */
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}